html,
body {
  height: 100%;
  min-width: 320px;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

#huaweiBand9 a {
  color: inherit;
  text-decoration: none;
}

#huaweiBand9 ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#huaweiBand9 .bc-description__content p {
  margin-bottom: 0;
}

#huaweiBand9 .bc-description__content h4 {
  text-align: left;
}

#huaweiBand9 p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#huaweiBand9 h1,
#huaweiBand9 h2,
#huaweiBand9 h4,
#huaweiBand9 h4,
#huaweiBand9 h5,
#huaweiBand9 h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#huaweiBand9 {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#huaweiBand9 p::first-letter {
  padding-left: 0;
}

#huaweiBand9 img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#huaweiBand9 img:hover {
  opacity: 1;
}

#huaweiBand9 .huaweiBand9__container {
  box-sizing: border-box;
  max-width: 1006px;
  margin: 0 auto;
  padding: 0 15px;
}
#huaweiBand9 .huaweiBand9__container h2 {
  font-size: 50px;
  line-height: 1.2;
  margin: 20px 0px;
  color: #1e2022;
}
#huaweiBand9 .huaweiBand9__container h3 {
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 0;
  color: #1e2022;
}
#huaweiBand9 .huaweiBand9__container h4 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
#huaweiBand9 .huaweiBand9__container p {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #787779;
}

#huaweiBand9 .huaweiband9-container {
  max-width: 860px;
  margin: 0 auto;
}

#huaweiBand9 .huaweiband9-top__inner {
  margin-bottom: 100px;
}
#huaweiBand9 .huaweiband9-top__header {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 15px;
}
#huaweiBand9 .huaweiband9-top__header img {
  margin: 0 auto 20px;
}
#huaweiBand9 .huaweiband9-top__header p {
  text-align: center;
}

#huaweiBand9 .column-huaweiBand9 {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px;
}
#huaweiBand9 .column-huaweiBand9__row {
  display: grid;
  grid-auto-flow: dense;
  gap: 15px;
}
#huaweiBand9 .column-huaweiBand9__item {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 15px;
}
#huaweiBand9 .column-huaweiBand9__image {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
#huaweiBand9 .column-huaweiBand9__text {
  position: absolute;
  z-index: 5;
}
#huaweiBand9 .column-huaweiBand9__text p {
  color: rgba(0, 0, 0, 0.6);
}

#huaweiBand9 .huaweiband9-mainCol__row {
  grid-template-columns: 1.48fr 1fr 1fr;
  grid-auto-rows: 197px 197px 215px;
  margin-bottom: 127px;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(1) {
  background: url("../img/img02_1.jpg") 0 0 no-repeat;
  grid-row: span 2;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(2) {
  background: url("../img/img02_2.jpg") 0 0 no-repeat;
  grid-column: span 2;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(3) {
  background: url("../img/img02_3.jpg") 0 0 no-repeat;
  grid-column: span 2;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(4) {
  background: url("../img/img02_4.jpg") 0 0 no-repeat;
  grid-row: span 2;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(5) {
  background: #edf9ff;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(6) {
  background: #effffe;
}
#huaweiBand9 .huaweiband9-mainCol__item:nth-child(7) {
  background: url("../img/img02_7.png") 0 0 no-repeat;
  grid-column: span 2;
}
#huaweiBand9 .huaweiband9-mainCol__text {
  top: 20px;
  left: 20px;
  right: 20px;
}
#huaweiBand9 .huaweiband9-mainCol__text_01 p {
  max-width: 120px;
}
#huaweiBand9 .huaweiband9-mainCol__text_01 p:nth-of-type(1) {
  margin-bottom: 36px;
}
#huaweiBand9 .huaweiband9-mainCol__text_01 img:nth-of-type(1) {
  margin-bottom: 36px;
}
#huaweiBand9 .huaweiband9-mainCol__text_02, #huaweiBand9 .huaweiband9-mainCol__text_03 {
  top: 50%;
  transform: translateY(-50%);
  right: 55%;
}
#huaweiBand9 .huaweiband9-mainCol__text_05 {
  right: 15%;
}
#huaweiBand9 .huaweiband9-mainCol__text_07 {
  top: 50%;
  transform: translateY(-50%);
  right: 60%;
}
#huaweiBand9 .huaweiband9-mainCol__image {
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  right: auto;
}
#huaweiBand9 .huaweiband9-mainCol__text-items {
  display: flex;
  gap: 10px;
}
#huaweiBand9 .huaweiband9-mainCol__text-item p {
  font-size: 12px;
}
#huaweiBand9 .huaweiband9-mainCol__text-item p span {
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(135deg, #96f8da, #65cba7);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

#huaweiBand9 .huaweiband9Fashion-banner__text {
  padding: 10px 20px;
  max-width: 860px;
  margin: 0 auto;
}
#huaweiBand9 .huaweiband9Fashion-banner__text h4 {
  color: #ffbe0b;
}

#huaweiBand9 .huaweiband9Bezel-banner__bg {
  background-image: url("../img/bg04.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 688px;
  overflow: hidden;
}
#huaweiBand9 .huaweiband9Bezel-banner__inner {
  position: relative;
  z-index: 5;
  height: 100%;
}
#huaweiBand9 .huaweiband9Bezel-banner__text {
  position: relative;
  z-index: 10;
  max-width: 420px;
  margin-left: auto;
  padding: 40px 40px 10px 20px;
}
#huaweiBand9 .huaweiband9Bezel-banner__text p span {
  background-image: linear-gradient(to bottom, #D0A971, #A5773D);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  text-align: right;
  display: block;
}
#huaweiBand9 .huaweiband9Bezel-banner__img {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 100px;
  right: 25%;
  width: auto;
  height: calc(100% - 100px);
  -o-object-fit: cover;
     object-fit: cover;
}
#huaweiBand9 .huaweiband9Bezel-banner__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

#huaweiBand9 .huaweiband9-slider__inner {
  padding: 70px 0 100px;
  max-width: 860px;
  margin: 0 auto;
}
#huaweiBand9 .huaweiband9-slider__title {
  max-width: 690px;
  padding: 0 20px;
  margin-bottom: 50px;
}
#huaweiBand9 .huaweiband9-slider__carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#huaweiBand9 .huaweiband9-slider__items {
  min-width: 0;
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
#huaweiBand9 .huaweiband9-slider__items:first-child {
  margin-right: 25px;
}

#huaweiBand9 .left-huaweiband9-slider__image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#huaweiBand9 .left-huaweiband9-slider__image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
#huaweiBand9 .left-huaweiband9-slider__image_01 {
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 30px 50px;
}

#huaweiBand9 .right-huaweiband9-slider__image {
  padding-bottom: 20%;
}
#huaweiBand9 .right-huaweiband9-slider__text {
  padding: 0 20px;
}
#huaweiBand9 .right-huaweiband9-slider__text p {
  text-align: right;
  color: #1E2022;
}

#huaweiBand9 .right-huaweiband9-slider-pagination {
  bottom: auto;
  bottom: 12%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet {
  background: none;
  margin: 0 20px 0 0;
  position: relative;
  z-index: 6;
}
#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}

#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet:nth-child(1)::after {
  background-image: url("../img/dot1.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet:nth-child(2)::after {
  background-image: url("../img/dot2.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet:nth-child(3)::after {
  background-image: url("../img/dot3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet:nth-child(4)::after {
  background-image: url("../img/dot4.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet:nth-child(5)::after {
  background-image: url("../img/dot5.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#huaweiBand9 .right-huaweiband9-slider-pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

#huaweiBand9 .huaweiband9Light-banner__bg {
  background-image: url("../img/img06.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 670px;
}
#huaweiBand9 .huaweiband9Light-banner__inner {
  position: relative;
  z-index: 6;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#huaweiBand9 .huaweiband9Light-banner__text {
  padding: 10px 20px;
  max-width: 350px;
  position: relative;
  z-index: 99;
}
#huaweiBand9 .huaweiband9Light-banner__text_left {
  flex: 0 1 60%;
}
#huaweiBand9 .huaweiband9Light-banner__text_right {
  flex: 0 1 40%;
  align-content: flex-end;
  margin-left: auto;
}
#huaweiBand9 .huaweiband9Light-banner__text p span {
  font-size: 46px;
  line-height: 1.25;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #FFD548, #FFBA00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

#huaweiBand9 .huaweiband9-strap__inner {
  padding: 150px 0 100px;
}
#huaweiBand9 .huaweiband9-strap__title {
  margin-bottom: 40px;
  padding: 0 20px;
}
#huaweiBand9 .huaweiband9-strap__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#huaweiBand9 .huaweiband9-strap__item {
  position: relative;
  z-index: 6;
}
#huaweiBand9 .huaweiband9-strap__item:nth-child(n+1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#huaweiBand9 .huaweiband9-strap__text {
  padding: 10px 5px;
}
#huaweiBand9 .huaweiband9-strap__text_bott {
  position: absolute;
  z-index: 7;
  left: 20px;
  right: 20px;
  top: 10px;
}

#huaweiBand9 .huaweiband9-display__inner {
  margin-bottom: 150px;
}
#huaweiBand9 .huaweiband9-display__text {
  margin-bottom: 30px;
  padding: 0 20px;
}
#huaweiBand9 .huaweiband9-display__text h2, #huaweiBand9 .huaweiband9-display__text p {
  text-align: center;
}
#huaweiBand9 .huaweiband9-display__image img {
  margin: 0 auto;
}

#huaweiBand9 .huaweiband9Sensor-banner__bg {
  background-image: url("../img/bg09.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 150px;
}
#huaweiBand9 .huaweiband9Sensor-banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 7;
  padding: 30px 50px;
}
#huaweiBand9 .huaweiband9Sensor-banner__item {
  flex: 0 1 50%;
  padding: 10px 20px;
}
#huaweiBand9 .huaweiband9Sensor-banner__text {
  margin-bottom: 20px;
}
#huaweiBand9 .huaweiband9Sensor-banner__text h3 {
  margin-top: 0;
}
#huaweiBand9 .huaweiband9Sensor-banner__text h3, #huaweiBand9 .huaweiband9Sensor-banner__text p {
  color: #fff;
}
#huaweiBand9 .huaweiband9Sensor-banner__image {
  flex: 0 1 50%;
  position: absolute;
  z-index: 6;
  top: 20px;
  left: 60%;
  right: 30px;
}
#huaweiBand9 .huaweiband9Sensor-banner__image img {
  margin: 0 auto;
}

#huaweiBand9 .huaweiband9-trueSleep__text {
  margin-bottom: 30px;
  padding: 0 10px;
}
#huaweiBand9 .huaweiband9-trueSleep__text h4 {
  color: #c68dff;
}

#huaweiBand9 .huaweiband9-row__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#huaweiBand9 .huaweiband9-row__inner_rev {
  flex-direction: row-reverse;
}
#huaweiBand9 .huaweiband9-row__item {
  flex: 0 1 50%;
}
#huaweiBand9 .huaweiband9-row__text {
  padding: 10px 20px;
}
#huaweiBand9 .huaweiband9-row__image {
  flex: 0 1 50%;
}

#huaweiBand9 .huaweiband9-sleepingMode__bg {
  background-color: #010101;
  margin-top: -1px;
  padding-bottom: 50px;
}
#huaweiBand9 .huaweiband9-sleepingMode__subtitle {
  margin-bottom: 100px;
  padding: 0 20px;
}
#huaweiBand9 .huaweiband9-sleepingMode__subtitle p {
  color: #fff;
}
#huaweiBand9 .huaweiband9-sleepingMode__inner {
  align-items: stretch;
  padding: 0 20px 80px;
}
#huaweiBand9 .huaweiband9-sleepingMode__image {
  flex: 0 1 65%;
}
#huaweiBand9 .huaweiband9-sleepingMode__item {
  flex: 0 1 35%;
  background-color: #2a2a2a;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#huaweiBand9 .huaweiband9-sleepingMode__item_02 {
  margin-top: 12px;
}
#huaweiBand9 .huaweiband9-sleepingMode__text h4 {
  color: #c68dff;
}
#huaweiBand9 .huaweiband9-sleepingMode__text p {
  color: #fff;
}

#huaweiBand9 .huaweiband9-trueSeen__inner {
  margin: 100px 0;
}
#huaweiBand9 .huaweiband9-trueSeen__text {
  margin-bottom: 30px;
  max-width: 625px;
  padding: 0 20px;
}
#huaweiBand9 .huaweiband9-trueSeen__image img {
  margin: 0 auto;
}

#huaweiBand9 .huaweiband9-healthyMode__inner {
  padding: 40px 70px;
  border-radius: 15px;
  margin-bottom: 20px;
}
#huaweiBand9 .huaweiband9-healthyMode__inner:nth-child(1) {
  background-color: #f7f7f7;
}
#huaweiBand9 .huaweiband9-healthyMode__inner:nth-child(2) {
  background-color: #f0f9ff;
}
#huaweiBand9 .huaweiband9-healthyMode__image img {
  margin: 0 auto;
}
#huaweiBand9 .huaweiband9-healthyMode__text p {
  color: #787779;
}
#huaweiBand9 .huaweiband9-healthyMode__icons {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}
#huaweiBand9 .huaweiband9-healthyMode__icon {
  flex: 0 1 20%;
}

#huaweiBand9 .col-huaweiBand9 {
  max-width: 860px;
  margin: 0 auto;
}
#huaweiBand9 .col-huaweiBand9__row {
  display: grid;
  grid-template-columns: 1.48fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 15px;
}
#huaweiBand9 .col-huaweiBand9__item {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
#huaweiBand9 .col-huaweiBand9__item:nth-child(1) {
  grid-row: span 2;
}
#huaweiBand9 .col-huaweiBand9__item:nth-child(2) {
  grid-column: span 2;
}
#huaweiBand9 .col-huaweiBand9__item:nth-child(3) {
  grid-column: span 2;
}
#huaweiBand9 .col-huaweiBand9__body_01 {
  flex-direction: column;
}
#huaweiBand9 .col-huaweiBand9__text {
  padding: 10px 20px;
  flex: 0 1 50%;
}
#huaweiBand9 .col-huaweiBand9__image {
  flex: 0 1 50%;
  padding: 0 10px;
}
#huaweiBand9 .col-huaweiBand9__image img {
  margin: 0 auto;
}

#huaweiBand9 .huaweiband9-healthCol__row {
  margin-bottom: 100px;
  grid-template-rows: repeat(2, 196px);
}
#huaweiBand9 .huaweiband9-healthCol__item {
  cursor: pointer;
}
#huaweiBand9 .huaweiband9-healthCol__item:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff7f7;
}
#huaweiBand9 .huaweiband9-healthCol__item:nth-child(2) {
  background-color: #f2fcfc;
}
#huaweiBand9 .huaweiband9-healthCol__item:nth-child(3) {
  background-color: #fdfaef;
}
#huaweiBand9 .huaweiband9-healthCol__body_01 {
  position: absolute;
  z-index: 6;
  opacity: 1;
  transition: opacity 0.3s;
}
#huaweiBand9 .huaweiband9-healthCol__body_01:hover {
  opacity: 0;
}
#huaweiBand9 .huaweiband9-healthCol__body_02, #huaweiBand9 .huaweiband9-healthCol__body_03 {
  height: 100%;
  display: flex;
  align-items: center;
}
#huaweiBand9 .huaweiband9-healthCol__text_01 {
  margin-bottom: 30px;
}
#huaweiBand9 .huaweiband9-healthCol__text h4 {
  margin-bottom: 0;
}
#huaweiBand9 .huaweiband9-healthCol__image_02 {
  position: relative;
  z-index: 5;
  top: 28%;
}
#huaweiBand9 .huaweiband9-healthCol__image_03 {
  align-self: flex-end;
}

#huaweiBand9 .huaweiband9-overlay {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
#huaweiBand9 .huaweiband9-overlay p {
  color: #000;
  text-align: center;
}
#huaweiBand9 .huaweiband9-overlay_bg01 {
  background-color: rgba(227, 217, 217, 0.8);
}
#huaweiBand9 .huaweiband9-overlay_bg02 {
  background-color: rgba(205, 222, 222, 0.8);
}
#huaweiBand9 .huaweiband9-overlay_bg03 {
  background-color: rgba(232, 229, 217, 0.8);
}
#huaweiBand9 .huaweiband9-overlay_bg04 {
  background-color: rgba(245, 233, 207, 0.8);
}

#huaweiBand9 .huaweiband9-healthCol__item:hover .huaweiband9-overlay {
  opacity: 1;
  visibility: visible;
}

#huaweiBand9 .huaweiband9-workout__inner {
  margin-bottom: 100px;
}
#huaweiBand9 .huaweiband9-workout__text {
  padding: 0 10px;
  margin-bottom: 30px;
}
#huaweiBand9 .huaweiband9-workout__text h4 {
  color: #8bccf7;
}

#huaweiBand9 .huaweiband9-custom__row {
  margin-bottom: 100px;
}
#huaweiBand9 .huaweiband9-custom__item {
  display: flex;
  align-items: center;
}
#huaweiBand9 .huaweiband9-custom__item:nth-child(1) {
  background-color: #fffbf2;
}
#huaweiBand9 .huaweiband9-custom__item:nth-child(2) {
  background-color: #f2fafc;
}
#huaweiBand9 .huaweiband9-custom__item:nth-child(3) {
  background-color: #fff6ef;
}
#huaweiBand9 .huaweiband9-custom__image {
  align-self: flex-end;
}

#huaweiBand9 .huaweiband9-waterproof__content {
  margin-bottom: 30px;
  display: flex;
}
#huaweiBand9 .huaweiband9-waterproof__title {
  flex: 0 1 50%;
  padding: 10px;
}
#huaweiBand9 .huaweiband9-waterproof__text {
  flex: 0 1 50%;
  padding: 10px;
}
#huaweiBand9 .huaweiband9-waterproof__image {
  background-color: #eaf8fd;
  border-radius: 15px;
}

#huaweiBand9 .huaweiband9-sport__row {
  margin: 20px 0 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#huaweiBand9 .huaweiband9-sport__item {
  flex-direction: column;
  cursor: pointer;
}
#huaweiBand9 .huaweiband9-sport__item:nth-child(1) {
  background-color: #fff7f7;
  grid-row: span 1;
}
#huaweiBand9 .huaweiband9-sport__item:nth-child(2) {
  background-color: #fffbf2;
  grid-column: span 1;
}
#huaweiBand9 .huaweiband9-sport__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}
#huaweiBand9 .huaweiband9-sport__body:hover {
  opacity: 0;
}
#huaweiBand9 .huaweiband9-sport__text h4 {
  text-align: center;
}
#huaweiBand9 .huaweiband9-sport__text h4:first-child {
  margin-bottom: 10px;
}
#huaweiBand9 .huaweiband9-sport__text_01 {
  flex: 1 1 auto;
}
#huaweiBand9 .huaweiband9-sport__image_01 {
  align-self: flex-end;
  padding: 0;
  flex: 0 0 304px;
  display: flex;
  align-items: flex-end;
}
#huaweiBand9 .huaweiband9-sport__image_02 {
  padding-bottom: 20px;
}
#huaweiBand9 .huaweiband9-sport__icons {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  flex: 1 1 auto;
}
#huaweiBand9 .huaweiband9-sport__icon {
  flex: 0 1 20%;
}

#huaweiBand9 .huaweiband9-sport__item:hover .huaweiband9-overlay {
  opacity: 1;
  visibility: visible;
}

#huaweiBand9 .huaweiband9-reminders__inner {
  margin-bottom: 100px;
}
#huaweiBand9 .huaweiband9-reminders__title {
  margin-bottom: 50px;
  padding: 0 10px;
}
#huaweiBand9 .huaweiband9-reminders__title h4 {
  color: #72c9ff;
  text-align: center;
}
#huaweiBand9 .huaweiband9-reminders__title h2 {
  text-align: center;
}
#huaweiBand9 .huaweiband9-reminders__image {
  margin-bottom: 30px;
}
#huaweiBand9 .huaweiband9-reminders__image img {
  margin: 0 auto;
}
#huaweiBand9 .huaweiband9-reminders__text {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 10px;
}
#huaweiBand9 .huaweiband9-reminders__text p {
  text-align: center;
}

#huaweiBand9 .huaweiband9-icons__bg {
  background-color: #f8f9fb;
  border-radius: 15px;
}
#huaweiBand9 .huaweiband9-icons__title {
  padding: 35px 10px;
}
#huaweiBand9 .huaweiband9-icons__title h3 {
  text-align: center;
}
#huaweiBand9 .huaweiband9-icons__items {
  padding: 0 30px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
#huaweiBand9 .huaweiband9-icons__item img {
  margin: 0 auto;
}
#huaweiBand9 .huaweiband9-icons__item p {
  text-align: center;
}

#huaweiBand9 .huaweiband9-power__inner {
  margin-bottom: 20px;
}
#huaweiBand9 .huaweiband9-power__bg {
  background-color: #f8f9fb;
  border-radius: 15px;
}
#huaweiBand9 .huaweiband9-power__content {
  padding: 40px 0 15px;
  display: flex;
  align-items: center;
}
#huaweiBand9 .huaweiband9-power__title {
  flex: 0 1 50%;
  padding: 10px 25px;
}
#huaweiBand9 .huaweiband9-power__title h3 {
  margin: 10px 0;
}
#huaweiBand9 .huaweiband9-power__text {
  flex: 0 1 50%;
  padding: 10px 20px;
}
#huaweiBand9 .huaweiband9-power__image {
  margin-bottom: 30px;
}
#huaweiBand9 .huaweiband9-power__time {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
}
#huaweiBand9 .huaweiband9-power__time-day {
  flex: 0 1 50%;
  border-right: 1px solid #959595;
  padding: 0 20px;
}
#huaweiBand9 .huaweiband9-power__time-day:first-child p {
  text-align: right;
}
#huaweiBand9 .huaweiband9-power__time-day:last-child {
  border: none;
}
#huaweiBand9 .huaweiband9-power__time-day p span {
  font-size: 41px;
  color: #7ce0df;
}

#huaweiBand9 .huaweiband9-conditions__bg {
  background-color: #f8f9fb;
  border-radius: 15px;
}
#huaweiBand9 .huaweiband9-conditions__content {
  display: flex;
  margin-bottom: 30px;
}
#huaweiBand9 .huaweiband9-conditions__title {
  flex: 0 1 45%;
  padding: 30px 25px;
}
#huaweiBand9 .huaweiband9-conditions__title h3 {
  margin: 10px 0;
}
#huaweiBand9 .huaweiband9-conditions__text {
  flex: 0 1 55%;
  padding: 30px 20px;
}
#huaweiBand9 .huaweiband9-conditions__items {
  padding: 0 30px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
#huaweiBand9 .huaweiband9-conditions__item img {
  margin: 0 auto 10px;
}
#huaweiBand9 .huaweiband9-conditions__item p {
  text-align: center;
}

#huaweiBand9 .huaweiband9-compatible__bg {
  background-color: #f8f9fb;
  border-radius: 15px;
}
#huaweiBand9 .huaweiband9-compatible__inner {
  margin-bottom: 20px;
}
#huaweiBand9 .huaweiband9-compatible__image {
  padding: 20px 10px;
}
#huaweiBand9 .huaweiband9-compatible__image img {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  #huaweiBand9 .huaweiBand9__container h4 {
    font-size: 18px;
  }
  #huaweiBand9 .huaweiBand9__container p {
    font-size: calc(12px + 4 * (100vw - 320px) / 1200);
  }
  #huaweiBand9 .column-huaweiBand9 {
    padding: 0 10px;
  }
  #huaweiBand9 .column-huaweiBand9__row {
    gap: 10px;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(5) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(6) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(7) {
    grid-column: span 3;
    background-color: #f2f4fd;
    background-position: 100%;
  }
  #huaweiBand9 .huaweiband9-mainCol__text {
    left: 15px;
    right: 15px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_01 p {
    max-width: 120px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_01 p:nth-of-type(1) {
    margin-bottom: 36px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_01 img:nth-of-type(1) {
    margin-bottom: 36px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_02, #huaweiBand9 .huaweiband9-mainCol__text_03 {
    top: 50%;
    transform: translateY(-50%);
    right: 55%;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_05 {
    right: 15%;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_07 {
    top: 50%;
    transform: translateY(-50%);
    right: 60%;
  }
  #huaweiBand9 .huaweiband9-mainCol__text-item p span {
    font-size: 35px;
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text {
    padding: 30px 35px 10px 20px;
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text p span {
    font-size: calc(18px + 2 * (100vw - 320px) / 1200);
  }
  #huaweiBand9 .huaweiband9Light-banner__text_left {
    width: calc(200px + 150 * (100vw - 320px) / 1200);
    max-width: 100%;
  }
  #huaweiBand9 .huaweiband9Light-banner__text_right p span {
    font-size: calc(36px + 10 * (100vw - 320px) / 1200);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #huaweiBand9 .huaweiband9-sleepingMode__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 1023.98px) {
  #huaweiBand9 .huaweiBand9__container h2 {
    font-size: calc(22px + 28 * (100vw - 320px) / 704);
  }
  #huaweiBand9 .huaweiBand9__container h3 {
    font-size: calc(20px + 10 * (100vw - 320px) / 704);
  }
  #huaweiBand9 .huaweiband9Bezel-banner__bg {
    height: calc(344px + 344 * (100vw - 320px) / 703);
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text {
    padding-top: calc(0px + 40 * (100vw - 320px) / 703);
    padding-right: calc(10px + 30 * (100vw - 320px) / 703);
  }
  #huaweiBand9 .huaweiband9Light-banner__text p span {
    font-size: calc(20px + 26 * (100vw - 320px) / 704);
  }
  #huaweiBand9 .huaweiband9-display__inner {
    margin-bottom: 100px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__bg {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 991.98px) {
  #huaweiBand9 .huaweiband9-top__inner {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-mainCol__row {
    margin-bottom: 70px;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(5) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(6) {
    grid-column: 1/-1;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(7) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_06 {
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    right: auto;
  }
  #huaweiBand9 .huaweiband9-mainCol__text-item p span {
    font-size: 45px;
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text {
    padding-top: calc(0px + 30 * (100vw - 320px) / 671);
  }
  #huaweiBand9 .huaweiband9-slider__inner {
    padding: 20px 0 30px;
  }
  #huaweiBand9 .huaweiband9-slider__title {
    margin-bottom: 25px;
  }
  #huaweiBand9 .right-huaweiband9-slider-pagination {
    bottom: 50px;
  }
  #huaweiBand9 .right-huaweiband9-slider__image {
    padding-bottom: 60px;
  }
  #huaweiBand9 .huaweiband9-strap__inner {
    padding: 50px 0;
  }
  #huaweiBand9 .huaweiband9-display__inner {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__bg {
    padding-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__subtitle {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__inner {
    padding-bottom: 40px;
  }
  #huaweiBand9 .huaweiband9-trueSeen__inner {
    margin: 50px 0;
  }
  #huaweiBand9 .huaweiband9-healthCol__row {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-workout__inner {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-custom__row {
    margin-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9-sport__row {
    margin: 20px 0 50px;
  }
  #huaweiBand9 .huaweiband9-reminders__inner {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 830.98px) {
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(1) {
    background-position: 29% 0;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(3) {
    background-position: 50% 0;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(4) {
    background-position: 50% 0;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(7) {
    background-position: 50% 0;
  }
}
@media screen and (max-width: 767.98px) {
  #huaweiBand9 .huaweiBand9__container h2, #huaweiBand9 .huaweiBand9__container h3 {
    margin: 10px 0;
  }
  #huaweiBand9 .huaweiBand9__container h4 {
    font-size: calc(18px + 2 * (100vw - 320px) / 447);
    margin-bottom: 10px;
  }
  #huaweiBand9 .huaweiband9-top__inner {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-mainCol__row {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(1) {
    grid-column: span 3;
    background-color: #f8f8f8;
    background-position: 100%;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(2) {
    grid-column: span 3;
    background-color: #f9f5ff;
    background-position: 100%;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(3) {
    grid-column: span 3;
    background-color: #fff9f7;
    background-position: 80%;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(4) {
    background-color: #fff6f0;
    background-position: 50% 34px;
  }
  #huaweiBand9 .huaweiband9Bezel-banner__img {
    right: 25%;
    top: 150px;
    height: calc(100% - 150px);
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text p span {
    font-size: calc(18px + 2 * (100vw - 320px) / 447);
  }
  #huaweiBand9 .right-huaweiband9-slider-pagination {
    bottom: 55px;
  }
  #huaweiBand9 .right-huaweiband9-slider__image {
    padding-bottom: 50px;
  }
  #huaweiBand9 .huaweiband9Light-banner__bg {
    background-image: url("../img/img06_mob.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: calc(780px + 307 * (100vw - 320px) / 447);
  }
  #huaweiBand9 .huaweiband9Light-banner__inner {
    height: auto;
  }
  #huaweiBand9 .huaweiband9Light-banner__text_left {
    max-width: 100%;
  }
  #huaweiBand9 .huaweiband9Light-banner__text_right {
    margin: 0;
    align-content: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 20px;
  }
  #huaweiBand9 .huaweiband9-strap__inner {
    padding: 25px 0;
  }
  #huaweiBand9 .huaweiband9-strap__title {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-strap__text_bott {
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    right: auto;
    padding: 10px;
  }
  #huaweiBand9 .huaweiband9-strap__text_bott p {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-display__inner {
    margin-bottom: 25px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__inner {
    padding: 30px 10px;
  }
  #huaweiBand9 .huaweiband9-trueSleep__text {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__subtitle {
    margin-bottom: 25px;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__inner {
    flex-direction: column;
    padding: 0 10px 10px;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__item {
    margin-top: 0;
  }
  #huaweiBand9 .huaweiband9-sleepingMode__image_03 img {
    margin: 0 auto;
  }
  #huaweiBand9 .huaweiband9-trueSeen__inner {
    margin: 15px 0;
  }
  #huaweiBand9 .huaweiband9-trueSeen__text {
    margin-bottom: 15px;
  }
  #huaweiBand9 .huaweiband9-healthyMode__inner {
    padding: 20px 10px;
    gap: 5px;
  }
  #huaweiBand9 .huaweiband9-healthyMode__icons {
    gap: 5px;
  }
  #huaweiBand9 .huaweiband9-healthCol__row {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-workout__inner {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-workout__text {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-custom__row {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-waterproof__content {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-sport__row {
    margin: 10px 0 20px;
  }
  #huaweiBand9 .huaweiband9-reminders__inner {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-reminders__title {
    margin-bottom: 25px;
  }
  #huaweiBand9 .huaweiband9-reminders__image {
    margin-bottom: 15px;
  }
  #huaweiBand9 .huaweiband9-icons__title {
    padding: 15px 10px;
  }
  #huaweiBand9 .huaweiband9-icons__items {
    padding: 0 15px 15px;
  }
  #huaweiBand9 .huaweiband9-power__content {
    padding: 10px 0;
  }
  #huaweiBand9 .huaweiband9-power__image {
    margin-bottom: 15px;
  }
  #huaweiBand9 .huaweiband9-power__time-day {
    padding: 0 15px;
  }
  #huaweiBand9 .huaweiband9-power__time-day p span {
    font-size: calc(18px + 20 * (100vw - 320px) / 447);
  }
  #huaweiBand9 .huaweiband9-conditions__content {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9-conditions__title {
    padding: 15px 20px;
  }
  #huaweiBand9 .huaweiband9-conditions__text {
    padding: 15px 10px;
  }
  #huaweiBand9 .huaweiband9-conditions__items {
    padding: 0 15px 25px;
  }
}
@media screen and (max-width: 640.98px) {
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(7) {
    background-position: 80% 0;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_07 {
    top: 20px;
    right: 20px;
    transform: translateY(0);
  }
  #huaweiBand9 .huaweiband9-slider__inner {
    padding: 10px 0 15px;
  }
  #huaweiBand9 .huaweiband9-slider__title {
    margin-bottom: 15px;
  }
  #huaweiBand9 .huaweiband9-slider__carousel {
    display: block;
  }
  #huaweiBand9 .huaweiband9-slider__items:first-child {
    margin-bottom: 20px;
    margin-right: 0;
  }
  #huaweiBand9 .right-huaweiband9-slider-pagination {
    justify-content: center;
  }
  #huaweiBand9 .right-huaweiband9-slider__text p {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9Light-banner__text_left {
    max-width: 70%;
  }
  #huaweiBand9 .huaweiband9-strap__text_bott {
    top: 0;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__inner {
    padding: 20px 15px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__image {
    right: 10px;
  }
  #huaweiBand9 .huaweiband9-custom__row {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 20px;
  }
  #huaweiBand9 .huaweiband9-custom__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  #huaweiBand9 .huaweiband9-custom__body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #huaweiBand9 .huaweiband9-waterproof__content {
    flex-direction: column;
  }
  #huaweiBand9 .huaweiband9-waterproof__title {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-sport__row {
    grid-template-columns: 1fr;
  }
  #huaweiBand9 .huaweiband9-icons__title {
    padding: 5px 10px;
  }
  #huaweiBand9 .huaweiband9-icons__items {
    grid-template-columns: repeat(3, 1fr);
  }
  #huaweiBand9 .huaweiband9-icons__item p {
    font-size: 14px;
  }
}
@media screen and (max-width: 540.98px) {
  #huaweiBand9 .huaweiband9-mainCol__row {
    grid-template-columns: repeat(2, 1fr);
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(1) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(2) {
    grid-column: span 2;
    background-position: 20%;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(3) {
    grid-column: span 2;
    background-position: 40%;
  }
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(4) {
    grid-column: span 2;
  }
  #huaweiBand9 .huaweiband9Light-banner__text_right {
    grid-template-columns: 1fr;
    max-width: 40%;
  }
  #huaweiBand9 .huaweiband9-strap__inner {
    padding: 10px 0;
  }
  #huaweiBand9 .huaweiband9-strap__title h2 {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-strap__row {
    display: grid;
    grid-template-columns: 1fr;
  }
  #huaweiBand9 .huaweiband9-strap__item:nth-child(3) {
    grid-row: 2;
  }
  #huaweiBand9 .huaweiband9-strap__text_top {
    padding: 0 5px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__bg {
    margin-bottom: 20px;
  }
  #huaweiBand9 .huaweiband9-healthCol__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 180px);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 20px;
  }
  #huaweiBand9 .huaweiband9-healthCol__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  #huaweiBand9 .huaweiband9-healthCol__body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #huaweiBand9 .huaweiband9-power__content {
    flex-direction: column;
  }
  #huaweiBand9 .huaweiband9-power__title {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-power__title h3 {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-power__text {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-power__text p {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-power__time {
    padding-bottom: 15px;
  }
  #huaweiBand9 .huaweiband9-conditions__content {
    flex-direction: column;
  }
  #huaweiBand9 .huaweiband9-conditions__title {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-conditions__title h3 {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-conditions__text {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-conditions__text p {
    text-align: center;
  }
  #huaweiBand9 .huaweiband9-conditions__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0 10px 10px;
  }
  #huaweiBand9 .huaweiband9-conditions__item p {
    font-size: 14px;
  }
  #huaweiBand9 .huaweiband9-compatible__inner {
    flex-direction: column-reverse;
    gap: 0;
  }
  #huaweiBand9 .huaweiband9-compatible__text {
    padding: 0 15px;
  }
}
@media screen and (max-width: 479.98px) {
  #huaweiBand9 .column-huaweiBand9 {
    padding: 0 5px;
  }
  #huaweiBand9 .huaweiband9-mainCol__row {
    margin-bottom: 10px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text_06 {
    padding: 0 20px;
  }
  #huaweiBand9 .huaweiband9-mainCol__text-item p span {
    font-size: calc(26px + 16 * (100vw - 320px) / 159);
  }
  #huaweiBand9 .huaweiband9Bezel-banner__text {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
  }
  #huaweiBand9 .huaweiband9Bezel-banner__img {
    right: 40%;
    top: 220px;
    height: calc(100% - 220px);
  }
  #huaweiBand9 .huaweiband9-slider__title {
    padding: 0 15px;
  }
  #huaweiBand9 .huaweiband9-slider__items:first-child {
    margin-bottom: 10px;
  }
  #huaweiBand9 .huaweiband9-slider__text {
    padding: 0 10px;
  }
  #huaweiBand9 .right-huaweiband9-slider-pagination {
    bottom: 60px;
  }
  #huaweiBand9 .huaweiband9Light-banner__bg {
    background-position: 17% 50%;
  }
  #huaweiBand9 .huaweiband9Light-banner__text {
    padding: 10px;
  }
  #huaweiBand9 .huaweiband9-display__text {
    margin-bottom: 15px;
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-display__inner {
    margin-bottom: 10px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__inner {
    flex-direction: column;
    align-items: stretch;
    padding: 10px 0;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__item {
    padding: 0 15px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__img {
    position: absolute;
    z-index: 7;
    bottom: 20px;
    left: calc(40px + 80 * (100vw - 320px) / 159);
    right: 50%;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__text {
    margin-bottom: 0;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__image {
    position: unset;
    align-content: flex-end;
    margin-bottom: 10px;
  }
  #huaweiBand9 .huaweiband9Sensor-banner__image img {
    margin-left: calc(100px + 100 * (100vw - 320px) / 159);
    margin-right: 20px;
  }
  #huaweiBand9 .huaweiband9-trueSeen__text {
    padding: 0 10px;
  }
  #huaweiBand9 .huaweiband9-healthyMode__inner {
    flex-direction: column-reverse;
    padding: 10px 0;
  }
  #huaweiBand9 .huaweiband9-healthyMode__text {
    padding: 0 20px;
  }
  #huaweiBand9 .huaweiband9-healthyMode__icons {
    margin: 10px 0;
  }
  #huaweiBand9 .huaweiband9-icons__icons {
    padding: 0 10px 15px;
    gap: 5px;
  }
  #huaweiBand9 .huaweiband9-icons__item p {
    font-size: 12px;
  }
  #huaweiBand9 .huaweiband9-conditions__item p {
    font-size: 12px;
  }
}
@media screen and (max-width: 379.98px) {
  #huaweiBand9 .huaweiband9-mainCol__item:nth-child(1) {
    background-position: -17%;
  }
  #huaweiBand9 .huaweiband9-sport__image_01 {
    flex: 0 0 250px;
  }
}/*# sourceMappingURL=style.css.map */